@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome</h1>
    <h2>このサイトではログとか見れるようにしようかな？（仮）</h2>
    <br/>
    <h2>リンク集</h2>
    <h3>Swaggerは<a href="./swagger">こちら</a></h3>
    <h3><a href="https://github.com/tauto1127/snow_prototype/blob/develop/%E8%A8%AD%E8%A8%88%E5%9B%B3.md">設計図</a></h3>
    <h4><a href="https://console.agora.io/usage/common?modelId=e2338097dafd490985d5b5c2e8bbed26&intervalType=0&fromTs=1718290800&endTs=1718809200&timeType=1&timezoneOffset=-540&model=duration&business=&vids=0&projectId=0">agoraコンソール</a></h4>
    <br/>
    
    <h3>GitHubリポジトリ</h3>
    <h3><a href="https://github.com/BATTARI-team/BATTARI-api">web api(このページもここ)</a></h3>
    <h3><a href="https://github.com/BATTARI-team/BATTARI">flutterアプリ</a></h3>
    <br/>
    <h3><a href="https://github.com/tauto1127/snow_prototype">プロトタイプ</a></h3>
    <br/>
    <br/>
    <h1>ユーザー一覧</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>名前</th>
                <th>パスワードはっしゅ</th>
                <th>パスワードソルト</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserId</td>
                    <td>@user.Name</td>
                    <td>@System.Text.Encoding.ASCII.GetString(user.PasswordHash)</td>
                    <td>@System.Text.Encoding.ASCII.GetString(user.PasswordSalt)</td>
                </tr>
            }
        </tbody>
    </table>
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
